{% extends 'base.html' %} {% block content %}
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      Coding <span>dreams</span> come true at Code Palace
    </h1>
    <p class="hero-paragraph">Building Knowledge Brick by Brick : )</p>
    <div class="hero-options">
      <a href="#" class="btn btn-developers" style="margin: 6rem 0 0 0"
        >Why Code-Palace?</a
      >

      <a href=" {% url 'CodePalaceBase:questions_list' %} " class="btn btn-developers" style="margin: 6rem 0 0 3rem"
        >Latest Questions</a
      >
    </div>
  </div>
</section>

<section class="for-developers">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Power of unity</h2>
      <div class="section-line"></div>
      <p class="section-description">
        Anyone who codes is welcome to join the community at Code Palace. We assist you in finding your next dream job, getting solutions to your most challenging coding queries, and privately sharing information with your colleagues.
      </p>
    </div>
    <div class="options">
   
      <div class="option">
        <div class="option-icon">
          <img
            src="https://static.vecteezy.com/system/resources/previews/022/359/434/original/3d-frequently-asked-questions-icon-illustration-render-png.png"
            alt="Private Q & A"
          />
        </div>
        <div class="option-title">Public Q&A</div>
        <div class="option-description">
          As you work, advance with Code Palace. Use our industry-leading Q&A engine to discreetly share expertise with your colleagues.
        </div>
        <div class="option-button">
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://static.vecteezy.com/system/resources/previews/022/359/434/original/3d-frequently-asked-questions-icon-illustration-render-png.png"
            alt="Private Q & A"
          />
        </div>
        <div class="option-title">Ask us!</div>
        <div class="option-description">
          As you work, advance with Code Palace. Use our industry-leading Q&A engine to discreetly share expertise with your colleagues.
        </div>
        <div class="option-button">
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://static.vecteezy.com/system/resources/previews/022/359/434/original/3d-frequently-asked-questions-icon-illustration-render-png.png"
            alt="Private Q & A"
          />
        </div>
        <div class="option-title">Public Q&A</div>
        <div class="option-description">
          As you work, advance with Code Palace. Use our industry-leading Q&A engine to discreetly share expertise with your colleagues.
        </div>
        <div class="option-button">
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="for-businesses">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title"> Heaven for Coders </h2>
      <div class="section-line"></div>
      <p class="section-description">
        Our goal is to assist developers in writing the future's screenplay. This entails assisting you in locating and hiring qualified developers for your company and giving them the resources they require in order to collaborate and perform well.
      </p>
    </div>

    <div class="options">
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/private-questions.svg?v=a4f1cfb08f7e"
            alt="Private Q&A"
          />
        </div>
        <div class="option-description">
         Find Answers Quickly
          <a href="#" class="option-link">Private Q&A</a>
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3"
            alt="Talent solutions"
          />
        </div>
        <div class="option-description">
          As per your need
          <a href="#" class="option-link">Any Time</a>
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02"
            alt=" Advertising platform"
          />
        </div>
        <div class="option-description">
          Just Google it :)
          <a href="#" class="option-link">Happy Coding</a>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %}
